* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: "Encode";
    src: url(../storage/font/EncodeSans-VariableFont_wdth\,wght.ttf);
}
body {
    background-color: white;
    color: #121111;
    font-family: "Encode", sans-serif;

}

/* ==========================================
   1. ESTILOS PARA CELULAR
   ========================================== */

nav {
    background-color: transparent;
    width: 100%;
    z-index: 100;
}

nav.barraNavegacion {
    display: flex;
    position: fixed;
    bottom: 20px;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    width: 85%;
    max-width: 1200px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    background-color: #292526;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

nav ul.menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 25px;
    width: 100%;
    justify-content: space-around;
}

nav ul.menu span{
    display: none;
    padding: 0;
    margin: 0;
}

nav ul.menu img{
    width: 25px;
    height: 25px;
}

.Usuario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.usuario-textos p{
    text-align: left;
    font-size: 14px;
    color: #8e8e8e;
    margin: 0;
}

.usuario-textos h1{
    text-align: left;
    font-size: 20px;
    color: #111111;
    margin: 5px 0 0 0;
}

.Usuario img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: ;
    object-fit: cover;
}

.search {
    width: 100%;
    padding: 10px 20px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap:15px;
}

.form input {
    flex-grow: 1;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #f2f2f2;
    padding-left: 40px;
    color: #121111;
    font-size: 14px;
}

.form button{
    background-color: #121111;
    height: 45px ;
    width: 45px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form img {
    width: 20px;
    height: 20px;
}

/* ==========================================
     2. ESTILOS PARA ESCRITORIO
     ========================================== */

@media (min-width: 1024px) {

    nav {
      background-color: transparent;
      width: 100%;
      z-index: 100;
    }

    nav.barraNavegacion {
        display: flex;
        position: fixed;
        top: 0px;
        justify-content: center;
        align-items: center;
        padding: 0.8rem 2rem;
        width: 150px;
        height: 100vh;
        max-width: 1200px;
        margin: 0;
        left: 0;
        transform: none;
        border-radius: 0;
        background-color: #292526;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
        padding: 2rem 1rem;
    }

    nav ul.menu {
        flex-direction: column;
        display: flex;
        list-style: none;
        align-items: flex-start;
        gap: 30px;
        width: 100%;
        justify-content: flex-start;
    }

    nav ul.menu span{
        display: inline;
        color: #ffffff;
        padding: 0;
        margin: 0;
    }

    nav ul.menu li{
        display: flex;
        align-items: center;
        gap: 15px;
        color: #ffffff;

    }   

}