<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Checkout.css">
</head>
<body>

    <main>
         <section class="checkout-header"> <!--Botones de atras y añadir a favoritos-->
            <div class="btn-redondo btn-atras">
                <a href="../index.html">
                    <img src="../storage/img/Otros iconos/atras.png" alt="atras" width="20px">
                </a>
            </div>
            <div class="checkout-titulo">
                <h1> Checkout </h1>
            </div>
            <div class="btn-redondo btn-menu">
                 <img src="../storage/img/Otros iconos/menu2.png" alt="corazon" width="20px">
            </div>
        </section>

        <section class="detalle"> <!--Detalle de los productos seleccionados, presentados en tarjetas que incluyen la imagen, título, categoría, precio, cantidad seleccionada y botones para modificar la cantidad.-->
            <div class="producto-tarjeta">
                <div class="imagen1">
                    <img src="../storage/img/Productos/Jordan 1.jpg" alt=" jordan" width="200px">
                </div>
                <div class="info">
                  <h2>Air Jordan 1 Low OG "Black Toe</h2>  
                  <p>Zapatos</p>
                  <div class="precio">
                    <p>Q2,500</p>
                  </div>
                </div>
                <div class="botones">
                    <img src="../storage/img/Otros iconos/menos.png" alt="menos" width="20px">
                    <h2>1</h2>
                    <img src="../storage/img/Otros iconos/mas.png" alt="mas" width="20px">
                </div>
            </div>

             <div class="producto-tarjeta">
                <div class="imagen1">
                    <img src="../storage/img/Productos/camisa blanca .jpg" alt=" jordan" width="200px">
                </div>
                <div class="info">
                  <h2>Camisa Basic Premium</h2>  
                  <p>Camisas</p>
                  <div class="precio">
                    <p>Q298.00</p>
                  </div>
                </div>
                <div class="botones">
                    <img src="../storage/img/Otros iconos/menos.png" alt="menos" width="20px">
                    <h2>2</h2>
                    <img src="../storage/img/Otros iconos/mas.png" alt="mas" width="20px">
                </div>
            </div>
        </section>

        <section class="resumen">
            <h2 class="resumen-titulo">Resumen</h2>
    
        <div class="metodo-pago">
            <div class="pago-detalles">
                <img class="logo-visa" src="../storage/img/Otros iconos/visa.png" alt="Visa">
                <span class="numero-tarjeta">•••• •••• •••• 2143</span>
            </div>
            <div class="pago-accion">
                <img class="flecha-abajo" src="../storage/img/Otros iconos/flecha-hacia-abajo.png" alt="Desplegar">
            </div>
        </div>

        <div class="desglose-precios">
            <div class="fila-precio">
                <p class="titems">Total (3 items)</p>
                <p class="preciot">Q2,798.00</p>
            </div>
        <div class="fila-precio">
            <p class="tdescuento">Descuento</p>
            <p class="pdescuento">Q0.00</p>
        </div>
        
        <hr class="linea-separadora">
        
        <div class="subtotal">
            <p class="stotal">Sub Total</p>
            <p class="sptotal">Q2,798.00</p>
        </div>
    </div>
        </section>

        <section class="pagar"> 
            <button>
                    <span>Pagar</span>
                </div>
            </button>
        </section>
    </main>
</body>
</html>