<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main>
         <section class="inicio"> <!--Botones de atras y añadir a favoritos-->
            <div class="btn-flotante btn-atras">
                <a href="../index.html">
                    <img src="../storage/img/Otros iconos/atras.png" alt="atras" width="20px">
                </a>
            </div>
            <div>
                <h1> Checkout </h1>
            </div>
            <div class="btn-flotante btn-favorito">
                 <img src="../storage/img/Otros iconos/menu2.png" alt="corazon" width="20px">
            </div>
        </section>

        <section class="detalle"> <!--Detalle de los productos seleccionados, presentados en tarjetas que incluyen la imagen, título, categoría, precio, cantidad seleccionada y botones para modificar la cantidad.-->
            <div class="detalle1">
                <div class="imagen1">
                    <img src="../storage/img/Productos/Jordan 1.jpg" alt=" jordan" width="200px">
                </div>
                <div class="info">
                  <h2>Air Jordan 1 Low OG "Black Toe</h2>  
                  <p>Zapatos</p>
                  <div class="precio">
                    <p>Q2,500</p>
                  </div>
                </div>
                <div class="botones">
                    <img src="../storage/img/Otros iconos/menos.png" alt="menos" width="20px">
                    <h2>1</h2>
                    <img src="../storage/img/Otros iconos/mas.png" alt="mas" width="20px">
                </div>
            </div>

             <div class="imagen2">
                <div class="imagen1">
                    <img src="../storage/img/Productos/camisa blanca .jpg" alt=" jordan" width="200px">
                </div>
                <div class="info">
                  <h2>Camisa Basic Premium</h2>  
                  <p>Camisas</p>
                  <div class="precio">
                    <p>Q298.00</p>
                  </div>
                </div>
                <div class="botones">
                    <img src="../storage/img/Otros iconos/menos.png" alt="menos" width="20px">
                    <h2>2</h2>
                    <img src="../storage/img/Otros iconos/mas.png" alt="mas" width="20px">
                </div>
            </div>
        </section>

        <section class="informacion">
        <!--Sección de información de envío, que muestra opciones de pago 
        (tarjeta de crédito o débito), el total de productos seleccionados, 
        precio total de productos seleccionados, costo de envío adicional 
        (si aplica), descuentos, subtotal y un botón "Pagar" que muestra un 
        cuadro modal confirmando la compra realizada.-->

        </section>
    </main>
</body>
</html>