<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav">
        <!--Sección de navegación con dos 
        botones: "Atrás" y el menú móvil en 
        forma de hamburguesa, con el título "Checkout".-->
        </nav>
    </header>

    <main>

    <section class="detalle">
        <!--Detalle de los productos seleccionados, presentados 
        en tarjetas que incluyen la imagen, título, categoría, 
        precio, cantidad seleccionada y botones para modificar la cantidad.-->

    </section>

    <section class="informacion">
        <!--Sección de información de envío, que muestra opciones de pago 
        (tarjeta de crédito o débito), el total de productos seleccionados, 
        precio total de productos seleccionados, costo de envío adicional 
        (si aplica), descuentos, subtotal y un botón "Pagar" que muestra un 
        cuadro modal confirmando la compra realizada.-->

    </section>
    </main>
</body>
</html>