<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/detail.css">
    
</head>
<body>
    <main>
        <section class="producto"> <!--Botones de atras y añadir a favoritos-->
            <div class="btn-flotante btn-atras">
                <img src="../storage/img/Otros iconos/atras.png" alt="atras" width="20px">
            </div>
            <div class="btn-flotante btn-favorito">
                 <img src="../storage/img/Otros iconos/me-gusta n.png" alt="corazon" width="20px">
            </div>
            <img class="foto-principal" src="../storage/img/Productos/Jordan 1.jpg" alt="Producto" width="200px">
        </section>

    <section class="info"> <div class="info-header">
        
        <div class="Titulo-izquierdo">
            <h1>Air Jordan 1 Low OG "Black Toe"</h1>
            <div class="raiting">  
                <span><img src="../storage/img/Otros iconos/estrella.png" alt="Estrella" width="20px"> 5.0 </span>
                <p>(10.520 reviews)</p>
            </div>
        </div>

        <div class="Titulo-derecho">
            <img src="../storage/img/Otros iconos/menos.png" alt="menos" width="20px">
            <h2>1</h2>
            <img src="../storage/img/Otros iconos/mas.png" alt="mas" width="20px">
        </div>

        </div> <div class="informacion">
            <p>Eleva tu estilo urbano con los Air Jordan 1 Low OG "Black Toe". Diseñados con una silueta de perfil 
            bajo y acabados en cuero de alta calidad, son el complemento perfecto para cualquier outfit casual.
             Un calzado versátil que combina historia, confort y pura cultura sneakerhead.</p>
        </div>

    </section>
        
    <section class="Personalizar"> <!--Sección de personalización con opciones de tamaño y color del producto.-->
                <h3 class="derecho">Elige tu talla</h3>
                <ul class="tallas">
                    <li>8</li>
                    <li>8.5</li>
                    <li class="activa">9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                </ul>
    </section>

    <section class="comprar"> 
        <a href="#" class="btn-enlace"> 
            <button>
                <div class="btn-contenido">
                    <img src="../storage/img/Otros iconos/carrito-de-compras.png" alt="carrito de compras">
                    <span>Añadir al carrito | Q2,500.00</span>
                </div>
                <del class="precio-antes">Q2,900.00</del>
            </button>
        </a>
    </section>
    </main>

</body>
</html>