<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="button">
            <!--Botones de atras y añadir a favoritos-->
        </section>

        <section class="info">
            <!-- Sección de información que muestra el título del producto, la calificación, 
             el número de personas que lo han visto, y botones para ajustar la cantidad a comprar 
             (por defecto, 1). También incluye un botón "Ver más" que despliega un cuadro de diálogo 
             con la información completa del producto.-->
        </section>
        
        <section class="Personalizar">
            <!--Sección de personalización con opciones de tamaño y color del producto.-->
        </section>

        <section class="comprar">
        <!--Botón de compra que muestra el precio total según la cantidad seleccionada.-->            
        </section>
    </main>
</body>
</html>