<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/detail.css">
    
</head>
<body>
    <main>
        <section class="producto"> <!--Botones de atras y añadir a favoritos-->
            <img src="../storage/img/Otros iconos/atras.png" alt="atras" width="20px">
            <img src="../storage/img/Otros iconos/me-gusta (1).png" alt="corazon" width="20px">
            <img src="../storage/img/Productos/Jordan 1.jpg" alt="Producto" width="200px">
        </section>

        <section class="info"> <!-- Sección de información que muestra el título del producto, la calificación, el número de personas que lo han visto, y botones para ajustar la cantidad a comprar (por defecto, 1). También incluye un botón "Ver más" que despliega un cuadro de diálogo con la información completa del producto.-->
            <div class="Titulo-izquierdo">
                <h1>Air Jordan 1 Low OG "Black Toe"</h1>
                <span><img src="../storage/img/Otros iconos/estrella.png" alt="Estrella" width="20px"> 5.0 </span>
                <p>(10.520 reviews)</p>
            </div>
            <div class="Titulo-derecho">
                <img src="../storage/img/Otros iconos/menos.png" alt="menos" width="20px">
                <h2>1</h2>
                <img src="../storage/img/Otros iconos/mas.png" alt="mas" width="20px">
            </div>
            <div class="informacion">
                <p>Eleva tu estilo urbano con los Air Jordan 1 Low OG "Black Toe". Diseñados con una silueta de perfil 
                    bajo y acabados en cuero de alta calidad, son el complemento perfecto para cualquier outfit casual.
                    Un calzado versátil que combina historia, confort y pura cultura sneakerhead.</p>
            </div>

        </section>
        
        <section class="Personalizar"> <!--Sección de personalización con opciones de tamaño y color del producto.-->
                <h3 class="derecho">Elige tu talla</h3>
                <ul class="tallas">
                    <li>8</li>
                    <li>8.5</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                </ul>
        </section>

        <section class="comprar">  <!--Botón de compra que muestra el precio total según la cantidad seleccionada.-->
            <button><img src="../storage/img/Otros iconos/carrito-de-compras.png" alt="carrito de compras" width="20px">Añadir al carrito | Q2,500.00 </button>
        </section>
    </main>

</body>
</html>